<div class="container col-md-4 card">
    <div class="card-header">You can post yourAds, or use our own custom made editor and much more!!</div>
 
  <div class="card-body">  <button border-rounded border-success> <a routerLink='/register'>Register as a Business User</a></button>
    </div> 
  </div>
<br><br><br>
  <div class="container col-md-4 card">
      <div class="card-header">View Ads, Earn Credits!!!</div>

      <div class="card-body"> <button> <a routerLink='/register'>Register as a Viewer</a></button></div> 
    </div>


